header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: linear-gradient(to right,#6391a1, #a59f9f,#9c747f, #6391a1, #417c90, #114155);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 32px;
    color: #ffff;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    color: #ffff;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}


